.page-container {
  @apply flex flex-col gap-y-12 pt-2 pb-12;
}
.page-container h1 {
  @apply text-3xl font-semibold;
}
.university-courses-table {
  @apply table 
}
.university-courses-table {
    border-width: 1px !important;
    border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity))) !important;
    border-style: solid !important;
    --tw-border-opacity: 1;
}
.table-header > tr > th {
  @apply bg-neutral p-6 text-lg font-medium text-white text-center;
}
.table-body > tr > td {
  @apply py-8 px-8 text-base text-center font-medium;
}
.table-body > tr {
  @apply hover:bg-base-300 cursor-pointer;
}
