.sidebar {
   @apply flex flex-col gap-8 px-5 fixed top-0 left-0 h-screen w-[15rem] py-4 border-r border-gray-200
}

.sidebar {
  border-right-width: 1px !important;
  border-right-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity))) !important;
  border-right-style: solid !important;
  --tw-border-opacity: 1;
}

.sidebar__nav--link, 
.logout-button {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #919293;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  transition: all 0.3s;
  border-radius: 6px;
}

.sidebar__nav--link:hover,
.sidebar__nav--link.active,
.logout-button:hover {
    @apply bg-neutral rounded-md text-white
}

.sidebar__nav--link svg, 
.logout-button svg {
    width: 1.8rem;
    height: 1.8rem;
    color: #9ca3af;
    transition: all 0.3s;
}

.sidebar__nav--link:hover svg,
.sidebar__nav--link.active svg,
.logout-button:hover svg {
    @apply text-white
}

.logout-button {
    @apply w-full
}

.dialog-window {
   @apply modal backdrop-blur-2xl overflow-y-hidden
}

